PFSalesWeb/App_WebReferences/AddFinCarLeads/FincarLeads.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFinCarLeads">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PhoneNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FinanceType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CreditHistory" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Terms" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EstimatedFinanced" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Payment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InitialDeposit" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WebSource" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFinCarLeadsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddFinCarLeadsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFinCarLeadsWithDet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PhoneNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FinanceType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CreditHistory" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Terms" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EstimatedFinanced" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Payment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InitialDeposit" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WebSource" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Employment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Current_Income" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Employer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Time_in_Current_Emp" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="FinLeadType" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Time_At_Cur_Add" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFinCarLeadsWithDetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddFinCarLeadsWithDetResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="AddFinCarLeadsSoapIn">
    <wsdl:part name="parameters" element="tns:AddFinCarLeads" />
  </wsdl:message>
  <wsdl:message name="AddFinCarLeadsSoapOut">
    <wsdl:part name="parameters" element="tns:AddFinCarLeadsResponse" />
  </wsdl:message>
  <wsdl:message name="AddFinCarLeadsWithDetSoapIn">
    <wsdl:part name="parameters" element="tns:AddFinCarLeadsWithDet" />
  </wsdl:message>
  <wsdl:message name="AddFinCarLeadsWithDetSoapOut">
    <wsdl:part name="parameters" element="tns:AddFinCarLeadsWithDetResponse" />
  </wsdl:message>
  <wsdl:portType name="FincarLeadsSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddFinCarLeads">
      <wsdl:input message="tns:AddFinCarLeadsSoapIn" />
      <wsdl:output message="tns:AddFinCarLeadsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddFinCarLeadsWithDet">
      <wsdl:input message="tns:AddFinCarLeadsWithDetSoapIn" />
      <wsdl:output message="tns:AddFinCarLeadsWithDetSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FincarLeadsSoap" type="tns:FincarLeadsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFinCarLeads">
      <soap:operation soapAction="http://tempuri.org/AddFinCarLeads" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFinCarLeadsWithDet">
      <soap:operation soapAction="http://tempuri.org/AddFinCarLeadsWithDet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FincarLeadsSoap12" type="tns:FincarLeadsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFinCarLeads">
      <soap12:operation soapAction="http://tempuri.org/AddFinCarLeads" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFinCarLeadsWithDet">
      <soap12:operation soapAction="http://tempuri.org/AddFinCarLeadsWithDet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FincarLeads">
    <wsdl:port name="FincarLeadsSoap" binding="tns:FincarLeadsSoap">
      <soap:address location="http://localhost:2831/PFSalesWeb/FincarLeads.asmx" />
    </wsdl:port>
    <wsdl:port name="FincarLeadsSoap12" binding="tns:FincarLeadsSoap12">
      <soap12:address location="http://localhost:2831/PFSalesWeb/FincarLeads.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>