PFSalesWeb/App_WebReferences/SyncDataFromCRMToPF/SyncDataFromCRM.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveDealerFromCRM">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="company" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MakeId" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="CityId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fax" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="StateId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="SecStateId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="IsActive" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="IsHotDealer" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="IsColdDealer" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="IsNew" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveDealerFromCRMResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveDealerFromCRMResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SaveDealerFromCRMSoapIn">
    <wsdl:part name="parameters" element="tns:SaveDealerFromCRM" />
  </wsdl:message>
  <wsdl:message name="SaveDealerFromCRMSoapOut">
    <wsdl:part name="parameters" element="tns:SaveDealerFromCRMResponse" />
  </wsdl:message>
  <wsdl:portType name="SyncDataFromCRMSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveDealerFromCRM">
      <wsdl:input message="tns:SaveDealerFromCRMSoapIn" />
      <wsdl:output message="tns:SaveDealerFromCRMSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SyncDataFromCRMSoap" type="tns:SyncDataFromCRMSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDealerFromCRM">
      <soap:operation soapAction="http://tempuri.org/SaveDealerFromCRM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SyncDataFromCRMSoap12" type="tns:SyncDataFromCRMSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDealerFromCRM">
      <soap12:operation soapAction="http://tempuri.org/SaveDealerFromCRM" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SyncDataFromCRM">
    <wsdl:port name="SyncDataFromCRMSoap" binding="tns:SyncDataFromCRMSoap">
      <soap:address location="http://localhost:4139/PrivateFleet.New/SyncDataFromCRM.asmx" />
    </wsdl:port>
    <wsdl:port name="SyncDataFromCRMSoap12" binding="tns:SyncDataFromCRMSoap12">
      <soap12:address location="http://localhost:4139/PrivateFleet.New/SyncDataFromCRM.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>