PFSalesWeb/App_WebReferences/AddDataToPFSales/AddLeadsToPFSales1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveLeadsToPFSales">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="EnquiryDateTime" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="LeadSource" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MakeId" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="CityId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Finance" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="TradeIn" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IsActive" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="StateId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tradeInMakeModel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Comment" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveLeadsToPFSalesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveLeadsToPFSalesResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveEmpToPFSales">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Roll" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveEmpToPFSalesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveEmpToPFSalesResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SaveLeadsToPFSalesSoapIn">
    <wsdl:part name="parameters" element="tns:SaveLeadsToPFSales" />
  </wsdl:message>
  <wsdl:message name="SaveLeadsToPFSalesSoapOut">
    <wsdl:part name="parameters" element="tns:SaveLeadsToPFSalesResponse" />
  </wsdl:message>
  <wsdl:message name="SaveEmpToPFSalesSoapIn">
    <wsdl:part name="parameters" element="tns:SaveEmpToPFSales" />
  </wsdl:message>
  <wsdl:message name="SaveEmpToPFSalesSoapOut">
    <wsdl:part name="parameters" element="tns:SaveEmpToPFSalesResponse" />
  </wsdl:message>
  <wsdl:portType name="AddLeadsToPFSalesSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveLeadsToPFSales">
      <wsdl:input message="tns:SaveLeadsToPFSalesSoapIn" />
      <wsdl:output message="tns:SaveLeadsToPFSalesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveEmpToPFSales">
      <wsdl:input message="tns:SaveEmpToPFSalesSoapIn" />
      <wsdl:output message="tns:SaveEmpToPFSalesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AddLeadsToPFSalesSoap" type="tns:AddLeadsToPFSalesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveLeadsToPFSales">
      <soap:operation soapAction="http://tempuri.org/SaveLeadsToPFSales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveEmpToPFSales">
      <soap:operation soapAction="http://tempuri.org/SaveEmpToPFSales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AddLeadsToPFSalesSoap12" type="tns:AddLeadsToPFSalesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveLeadsToPFSales">
      <soap12:operation soapAction="http://tempuri.org/SaveLeadsToPFSales" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveEmpToPFSales">
      <soap12:operation soapAction="http://tempuri.org/SaveEmpToPFSales" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AddLeadsToPFSales">
    <wsdl:port name="AddLeadsToPFSalesSoap" binding="tns:AddLeadsToPFSalesSoap">
      <soap:address location="http://localhost:1816/PFSalesWeb/AddLeadsToPFSales.asmx" />
    </wsdl:port>
    <wsdl:port name="AddLeadsToPFSalesSoap12" binding="tns:AddLeadsToPFSalesSoap12">
      <soap12:address location="http://localhost:1816/PFSalesWeb/AddLeadsToPFSales.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>